<div class="d-flex align-items-center justify-content-center form-bg">
  <div class="form-container">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="d-flex flex-column align-items-center mt-5"
    >
      <div class="w-50 d-flex flex-column align-items-center">
        <h3 class="align-self-start mb-3">Login</h3>
        <p class="m-0 align-self-start">E-mail</p>
        <input
          type="email"
          placeholder="E-mail"
          formControlName="email"
          class="form-input w-100 mb-3"
        />
        <p class="m-0 align-self-start">Password</p>
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          class="form-input w-100 mb-3"
        />
        <button class="login mt-3 mb-5">Login</button>
      </div>
    </form>
    <div class="d-flex w-100 align-items-center justify-content-center">
      <p>
        non hai ancora un account?
        <a [routerLink]="['/auth/register']">REGISTRATI</a>
      </p>
    </div>
  </div>
</div>
