<div class="bg-black py-3 d-flex footer-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="row">
          <div
            class="col-lg-6 col-12 d-flex flex-column align-items-center justify-content-around"
          >
            <p>racetrack.mail@example.com</p>
            <p>+123456789</p>
            <p>@nurburgringtwt</p>
          </div>
          <div
            class="col-lg-6 col-12 d-flex flex-column align-items-center justify-content-around"
          >
            <p class="ms-4">
              Nürburgring, Otto-Flimm-Straße, 53520 Nürburg, Germania
            </p>
            <p>@nurburgring</p>
            <p>@nurburgringfb</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
