<div class="bg">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-10 d-flex justify-content-center py-5">
        <div class="d-flex flex-column align-items-center gradient pb-3">
          <img class="w-100" [src]="car.carImgPath" alt="car image" />
          <table class="w-75">
            <tbody>
              <tr>
                <th>Brand</th>
                <td>{{ car.brand }}</td>
              </tr>
              <tr>
                <th>Model</th>
                <td>{{ car.model }}</td>
              </tr>
              <tr>
                <th>Price</th>
                <td>{{ car.price }}€</td>
              </tr>
              <tr>
                <th>Start Production</th>
                <td>{{ car.startingProductionYear }}</td>
              </tr>
              <tr>
                <th>Car body</th>
                <td>{{ car.carBody }}</td>
              </tr>
              <tr>
                <th>Doors</th>
                <td>{{ car.doors }}</td>
              </tr>
              <tr>
                <th>Seats</th>
                <td>{{ car.seats }}</td>
              </tr>
              <tr>
                <th>Trunk Capacity</th>
                <td>{{ car.trunkCapacity }} dm3</td>
              </tr>
              <tr>
                <th>Weight</th>
                <td>{{ car.weight }} kg</td>
              </tr>
              <tr>
                <th>Length</th>
                <td>{{ car.length }} cm</td>
              </tr>
              <tr>
                <th>Width</th>
                <td>{{ car.width }} cm</td>
              </tr>
              <tr>
                <th>Height</th>
                <td>{{ car.height }} cm</td>
              </tr>
              <tr>
                <th>Wheel distance</th>
                <td>{{ car.wheelDistance }} cm</td>
              </tr>
              <tr>
                <th>Wheels distance</th>
                <td>{{ car.wheelDistance }} cm</td>
              </tr>
              <tr>
                <th>Engine</th>
                <td>{{ car.engine }}</td>
              </tr>
              <tr>
                <th>Displacement</th>
                <td>{{ car.displacement }}</td>
              </tr>
              <tr>
                <th>Fuel</th>
                <td>{{ car.fuel }}</td>
              </tr>
              <tr>
                <th>Power</th>
                <td>{{ car.maxPowerEngineSpeed }}</td>
              </tr>
              <tr>
                <th>Torque</th>
                <td>{{ car.maxTorque }}</td>
              </tr>
              <tr>
                <th>Drive type</th>
                <td>{{ car.driveType }}</td>
              </tr>
              <tr>
                <th>Gearbox</th>
                <td>{{ car.gearbox }}</td>
              </tr>
              <tr>
                <th>Gears</th>
                <td>{{ car.gears }}</td>
              </tr>
              <tr>
                <th>Top speed</th>
                <td>{{ car.topSpeed }}</td>
              </tr>
              <tr>
                <th>North To Sixty</th>
                <td>{{ car.northToSixty }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
